$mainBody: #dedbdb;
$mainColor: #0066ff;
$fontColor: #0d1520;
$fontFamily: 'Comfortaa', cursive;

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #9053c7;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    box-sizing: border-box;
}

.wrap {
    width: 960px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px 130px 100px 95px;
    box-sizing: border-box;
}

.loginPic {
    width: 316px;
    pointer-events: none;
}

.form {
    width: 290px;
}

.title {
    font-size: 24px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 54px;
    font-weight: bold;
}

.inputField {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
}

.input {
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
    box-sizing: border-box;
    outline: none;
}

.focusInput {
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(87, 184, 70, 0.8);
}

.input:focus + .focusInput {
    animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 70px 25px;
        opacity: 0;
    }
}

@keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 70px 25px;
        opacity: 0;
    }
}

.symbolInput {
    font-size: 15px;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 35px;
    pointer-events: none;
    color: #666666;
    transition: all 0.4s;
}

.input:focus + .focusInput + .symbolInput {
    color: #57b846;
    padding-left: 28px;
}

.btnContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.btn {
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #57b846;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    transition: all 0.4s;
    cursor: pointer;
    outline: none;

    &:hover {
        background: #333333;
    }
}

@media (max-width: 992px) {
    .wrap {
        padding: 100px 90px 100px 85px;
    }

    .loginPic {
        width: 35%;
    }

    .form {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .wrap {
        padding: 65px 80px 65px 80px;
    }

    .loginPic {
        display: none;
    }

    .form {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .wrap {
        padding: 65px 15px 65px 15px;
    }
}

.validate {
    position: relative;
}

.alert {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    background-color: red;
    font-size: 0.6em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;

    &:before {
        content: attr(data-validate);
        position: absolute;
        z-index: 5;
        width: 200px;
        background-color: white;
        border: 1px solid #c80000;
        border-radius: 13px;
        padding: 4px 25px 4px 10px;
        top: 50%;
        transform: translateY(-50%);
        right: 8px;
        pointer-events: none;
        color: #c80000;
        font-size: 13px;
        line-height: 1.4;
        text-align: left;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.4s;
    }

    &:hover:before {
        visibility: visible;
        opacity: 1;
    }
}
