@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import './THEME';

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
ol,
ul {
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
}
.wrapper {
    min-width: 320px;
    font-family: $RusTitle;
    background: $mainBody;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container {
    // margin: 0 15px;
    flex-grow: 1;
    display: flex;
}

.main-content {
    display: flex;
}

.main-container {
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 50px;
    flex-grow: 1;
    border-left: 2px solid $mainColor;
    box-sizing: border-box;
}

.loader {
    width: 100%;
    height: 100vh;
    background-color: #ecedfb;
    display: flex;
    justify-content: center;
    align-items: center;
}
