@import '../../THEME.scss';

.title {
    font-size: 2.3rem;
    color: $mainColor;
    margin-bottom: 20px;
    margin-left: 20px;
}
.list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item {
    flex-basis: 46%;
    padding: 20px;
    margin: 20px 2%;
    box-sizing: border-box;
    box-shadow: 0 0 5px 3px #00000029;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.itemTitle {
    font-size: 1.2rem;
    pointer-events: none;
}
