@import '../../THEME.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.images {
    max-height: 100px;
    flex-basis: 30%;
    max-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    flex-basis: 65%;
    margin-right: 5%;
}

.cityName {
    font-size: 2rem;
    color: $mainColor;
    padding-left: 10px;
    margin-bottom: 10px;
}

.regionName {
    padding-left: 10px;
    margin-bottom: 35px;
}

.description {
    display: flex;
    justify-content: space-between;
}

.item {
    flex-basis: 30%;
    margin: 0 1.5%;
    display: flex;
    flex-wrap: wrap;
}

.itemTitle {
    flex-basis: 100%;
    font-weight: bold;
    margin-bottom: 10px;
    color: $mainColor;
}

.itemImage {
    margin-right: 5px;
}

.itemText {
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.categoriesItem {
    flex-basis: 30%;
    padding: 20px;
    box-sizing: border-box;
}

.categoriesTitle {
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
    text-decoration: none;
    color: $fontColor;
    display: block;
    transition: all 0.4s ease-in-out;

    &:hover {
        color: $mainColor;
    }
}
