@import '../../THEME.scss';

.list {
    counter-reset: gradient-counter;
    list-style: none;
    margin: 1.75rem 0;
    padding-left: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.listItem {
    background: white;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
    counter-increment: gradient-counter;
    margin: 2rem 2% 0;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;
    flex-basis: 46%;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.3s ease-out;
    &:hover {
        box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.2), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.2);
    }
    &::before,
    &::after {
        background: linear-gradient(135deg, #83e4e2 0%, $mainColor 100%);
        border-radius: 1rem 1rem 0 1rem;
        content: '';
        height: 3rem;
        left: -1rem;
        overflow: hidden;
        position: absolute;
        top: -1rem;
        width: 3rem;
    }
    &::before {
        align-items: flex-end;
        box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05),
            0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
        content: counter(gradient-counter);
        color: #1d1f20;
        display: flex;
        justify-content: flex-end;
        padding: 0.125em 0.25em;
        z-index: 1;
        color: #fff;
        font-size: 1.5rem;
    }
}

.listLink {
    text-decoration: none;
    color: #1d1f20;
    font-size: 1.3rem;
    padding-left: 20px;
    pointer-events: none;
}
