@import '../../THEME.scss';

.header {
    margin-bottom: 30px;
}

.title {
    font-size: 2rem;
    color: $mainColor;
    padding-left: 10px;
    margin-bottom: 20px;
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item {
    flex-basis: 47%;
}

.link {
    margin-top: -20px;
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
    text-decoration: none;
    color: $fontColor;
    display: block;
    transition: all 0.4s ease-in-out;

    &:hover {
        color: $mainColor;
    }
}
